.wrapper.wrapper-content{
    min-height:809px;
}
.table.dataTables{
    border-collapse:collapse;border-spacing:0;
    width:100%;
}
.table.dataTables tr td{
     vertical-align:middle
 }
 .dataTables_info{
     clear:both;
     text-align: right;
 }
 label.error{
     width:100%;
 }
 .kv-fileinput-caption{
     height:2.1rem;
 }
 .file-drop-zone{
     overflow:hidden;
 }
.fal{font-size:14px;}
.nav.metismenu .fal{
    font-size:18px;
}
.nav.metismenu .fal.fa-cubes,.nav.metismenu .fal.fa-star-of-david{
    font-size:20px;
}
.nav.metismenu .fal.fa-tags,.nav.metismenu .fal.fa-cogs{
    font-size:16px;
}

div.dataTables_wrapper div.dataTables_filter label{margin-right:0;}
.dataTables_filter input{height:34px;border-radius: 1px;margin-right:0}

table.dataTable thead .sorting_desc:after {
    content: "\e156";
    opacity:0.5;
    font-family: "Glyphicons Halflings";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
}
table.dataTable thead .sorting_asc:after{
    content: "\e155";
    opacity:0.5;
    font-family: "Glyphicons Halflings";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
}
table.dataTable thead .sorting:after{
    content:"\e150";
    opacity:0.2;
    font-family: "Glyphicons Halflings";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
}
table.dataTable thead .sorting_desc:before,table.dataTable thead .sorting_asc:before,table.dataTable thead .sorting:before{
    content: none;
    display:none;
}