.wrapper.wrapper-content{
    min-height:809px;
}
.table.dataTables{
    border-collapse:collapse;border-spacing:0;
    width:100%;
}
.table.dataTables tr td{
     vertical-align:middle
 }
 .dataTables_info{
     text-align: right;
 }