.wrapper.wrapper-content{
    min-height:809px;
}
.table.dataTables{
    border-collapse:collapse;border-spacing:0;
    width:100%;
}
.table.dataTables tr td{
     vertical-align:middle
 }
 .dataTables_info{
     clear:both;
     text-align: right;
 }
 label.error{
     width:100%;
 }
 .kv-fileinput-caption{
     height:2.1rem;
 }
 .file-drop-zone{
     overflow:hidden;
 }
.fal{font-size:14px;}
.nav.metismenu .fal{
     font-size:18px;
 }

.dataTables_filter input{height:34px;border-radius: 3px}
table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr[role="row"]>th:first-child:before{top:auto}

table.dataTable thead .sorting_desc:after {
    content: "\e156";
    opacity:0.5;
    font-family: "Glyphicons Halflings";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
}
table.dataTable thead .sorting_asc:after{
    content: "\e155";
    opacity:0.5;
    font-family: "Glyphicons Halflings";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;
}
table.dataTable thead .sorting:after{
    content:"\e150";
    opacity:0.2;
    font-family: "Glyphicons Halflings";
    position: absolute;
    bottom: 8px;
    right: 8px;
    display: block;}