body{font-family:"open sans", "Helvetica Neue", Helvetica, Arial, sans-serif,"微软雅黑";color:#666666}

/*导航*/
.navbar a.navbar-brand{font-size:1.125rem}
.navbar a {font-size:.875rem;}
.navbar .form-control,.navbar .btn {font-size:.875rem;}
.navbar-toggler{font-size:.875rem}

/*轮播*/
#main-carousel {margin-top:3.12rem;}
#main-carousel .carousel-item {height:320px;}
#main-carousel .carousel-caption{width:100%;height:100%;background:url("/public/image/background.png") repeat;top:0;left:0;padding:60px 15% 0 15%;z-index:1;}
#main-carousel h1{font-size:1.875rem}
#main-carousel p{font-size:.875rem}
#main-carousel .btn{font-size:.875rem;}

.navy-line{
    width: 80px;
    height: 1px;
    margin: 0 auto;
    border-bottom: 3px solid #007bff;
}
.text-grey,.text-gray{
    color:#cccccc;
}