{{ define "frontend/home/index" }}
<!doctype html>
<html lang="zh-cn">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/font-awesome.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
    <link rel="stylesheet" href="/public/css/site.css">
    <title>{{ .title }}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="#">
        <img class="rounded" src="/public/image/logo.jpg" width="48" height="30" alt="">
        Gin Blog
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">心情</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    技术
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Golang</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">MySQL</a>
                    <a class="dropdown-item" href="#">Redis</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Linux</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">杂谈</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">资讯</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">优秀博客</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="搜索..." aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i> 搜索</button>
        </form>
    </div>
</nav>
<div class="container-fluid container">
    <!-- Content here -->
    <h1 class="text-center">Gin Blog 技术栈</h1>
    <p class="text-center">
        Go 是Google开发的一种静态强类型、编译型、并发型，并具有垃圾回收功能的编程语言。<br/>
        Gin 是一个用Go语言开发的Web框架，具有高性能的优点。<br/>
        MySQL 是一个关系型数据库管理系统。<br/>
    </p>
    <p class="text-center">
        <a href="http://docscn.studygolang.com/" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> 下载源码</a>
        <a href="#" class="btn btn-lg btn-outline-primary"><i class="fa fa-search"></i> 随便看看</a>
    </p>
    <div class="card-deck mt-lg-5 mt-3">
        <div class="card">
            <img src="/public/image/image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">GoLang 入门</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="/public/image/image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">Gin 框架手册</h5>
                <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
        <div class="card">
            <img src="/public/image/image.png" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">MySQL 数据库</h5>
                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">Last updated 3 mins ago</small>
            </div>
        </div>
{{/*        <div class="card">*/}}
{{/*            <img src="https://ss3.bdstatic.com/70cFv8Sh_Q1YnxGkpoWK1HF6hhy/it/u=193027814,3439748203&fm=26&gp=0.jpg" class="card-img-top" alt="...">*/}}
{{/*            <div class="card-body">*/}}
{{/*                <h5 class="card-title">Card title</h5>*/}}
{{/*                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>*/}}
{{/*            </div>*/}}
{{/*            <div class="card-footer">*/}}
{{/*                <small class="text-muted">Last updated 3 mins ago</small>*/}}
{{/*            </div>*/}}
{{/*        </div>*/}}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/public/js/jquery-3.3.1.slim.min.js"></script>
<script src="/public/js/popper.min.js"></script>
<script src="/public/js/bootstrap.min.js"></script>
<script src="/public/js/site.js"></script>
</body>
</html>
{{ end }}